.elementor-column-gap-default>.elementor-column>.elementor-element-populated{
    min-height: 95px;
}
selector .custom-event-top .elementor-element.elementor-element-293a6c5 .elementor-heading-title{
    font-size: 48px; 
}
selector .custom-event-box .elementor-element.elementor-element-331c3a9 > .elementor-container {
    min-height: 0px !important;
}
selector .custom-event-box .elementor-element.elementor-element-bd02d5a .elementor-button{
    margin-top:-15px;
    
}
@media (max-width:600px){
    .elementor-41 .elementor-element.elementor-element-f23a2e4 .custom-event-top .elementor-element.elementor-element-293a6c5 .elementor-heading-title{
        font-size:24px !important;
    }
}