.custom-event-top
    .elementor-element.elementor-element-fac9217
    .elementor-repeater-item-51874a6.jet-parallax-section__layout
    .jet-parallax-section__image {
    background-size: auto;
}
.custom-event-top .elementor-element.elementor-element-7125f30 img {
    border-radius: 60px 0px 0px 0px;
}
.elementor-bc-flex-widget
    .custom-event-top
    .elementor-element.elementor-element-7eb72db.elementor-column
    .elementor-widget-wrap {
    align-items: center;
}
.custom-event-top
    .elementor-element.elementor-element-7eb72db.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}
.custom-event-top
    .elementor-element.elementor-element-7eb72db
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}
.custom-event-top .elementor-element.elementor-element-7eb72db > .elementor-element-populated {
    padding: 10px 10px 10px 20px;
}
.custom-event-top .elementor-element.elementor-element-293a6c5 .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-weight: 700;
    font-style: normal;
}
.custom-event-top .elementor-element.elementor-element-293a6c5 > .elementor-widget-container {
    margin: 0px 0px 10px 0px;
}
.custom-event-top .elementor-element.elementor-element-cedfe85 .elementor-heading-title {
    color: #999999;
    font-family: "Proxima Nova", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    line-height: 24px;
}
.custom-event-top .elementor-element.elementor-element-cedfe85 > .elementor-widget-container {
    padding: 0px 0px 10px 0px;
}
.custom-event-top .elementor-element.elementor-element-3190b5f .elementor-heading-title {
    color: #999999;
    font-size: var(--e-global-typography-3366784-font-size);
    font-style: var(--e-global-typography-3366784-font-style);
    line-height: var(--e-global-typography-3366784-line-height);
    letter-spacing: var(--e-global-typography-3366784-letter-spacing);
    word-spacing: var(--e-global-typography-3366784-word-spacing);
}
.custom-event-top
    .elementor-element.elementor-element-d1f4d42
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(10px / 2);
}
.custom-event-top
    .elementor-element.elementor-element-d1f4d42
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(10px / 2);
}
.custom-event-top
    .elementor-element.elementor-element-d1f4d42
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item {
    margin-right: calc(10px / 2);
    margin-left: calc(10px / 2);
}
.custom-event-top .elementor-element.elementor-element-d1f4d42 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-10px / 2);
    margin-left: calc(-10px / 2);
}
body.rtl
    .custom-event-top
    .elementor-element.elementor-element-d1f4d42
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    left: calc(-10px / 2);
}
body:not(.rtl)
    .custom-event-top
    .elementor-element.elementor-element-d1f4d42
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    right: calc(-10px / 2);
}
.custom-event-top .elementor-element.elementor-element-d1f4d42 {
    --e-icon-list-icon-size: 18px;
}
.custom-event-top .elementor-element.elementor-element-d1f4d42 .elementor-icon-list-text {
    color: var(--e-global-color-text);
    padding-left: 12px;
}
.custom-event-top .elementor-element.elementor-element-d1f4d42 .elementor-icon-list-item > .elementor-icon-list-text,
.custom-event-top .elementor-element.elementor-element-d1f4d42 .elementor-icon-list-item > a {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.1em;
    letter-spacing: 2px;
}
.custom-event-top
    .elementor-element.elementor-element-363d425
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(10px / 2);
}
.custom-event-top
    .elementor-element.elementor-element-363d425
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(10px / 2);
}
.custom-event-top
    .elementor-element.elementor-element-363d425
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item {
    margin-right: calc(10px / 2);
    margin-left: calc(10px / 2);
}
.custom-event-top .elementor-element.elementor-element-363d425 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-10px / 2);
    margin-left: calc(-10px / 2);
}
body.rtl
    .custom-event-top
    .elementor-element.elementor-element-363d425
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    left: calc(-10px / 2);
}
body:not(.rtl)
    .custom-event-top
    .elementor-element.elementor-element-363d425
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    right: calc(-10px / 2);
}
.custom-event-top .elementor-element.elementor-element-363d425 {
    --e-icon-list-icon-size: 18px;
}
.custom-event-top .elementor-element.elementor-element-363d425 .elementor-icon-list-text {
    color: var(--e-global-color-text);
    padding-left: 12px;
}
.custom-event-top .elementor-element.elementor-element-363d425 .elementor-icon-list-item > .elementor-icon-list-text,
.custom-event-top .elementor-element.elementor-element-363d425 .elementor-icon-list-item > a {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.1em;
    letter-spacing: 2px;
}
.custom-event-top
    .elementor-element.elementor-element-bf02689
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(10px / 2);
}
.custom-event-top
    .elementor-element.elementor-element-bf02689
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(10px / 2);
}
.custom-event-top
    .elementor-element.elementor-element-bf02689
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item {
    margin-right: calc(10px / 2);
    margin-left: calc(10px / 2);
}
.custom-event-top .elementor-element.elementor-element-bf02689 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-10px / 2);
    margin-left: calc(-10px / 2);
}
body.rtl
    .custom-event-top
    .elementor-element.elementor-element-bf02689
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    left: calc(-10px / 2);
}
body:not(.rtl)
    .custom-event-top
    .elementor-element.elementor-element-bf02689
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    right: calc(-10px / 2);
}
.custom-event-top .elementor-element.elementor-element-bf02689 {
    --e-icon-list-icon-size: 18px;
}
.custom-event-top .elementor-element.elementor-element-bf02689 .elementor-icon-list-text {
    color: var(--e-global-color-text);
    padding-left: 12px;
}
.custom-event-top .elementor-element.elementor-element-bf02689 .elementor-icon-list-item > .elementor-icon-list-text,
.custom-event-top .elementor-element.elementor-element-bf02689 .elementor-icon-list-item > a {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.1em;
    letter-spacing: 2px;
}
.custom-event-top
    .elementor-element.elementor-element-4b998b5
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(10px / 2);
}
.custom-event-top
    .elementor-element.elementor-element-4b998b5
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(10px / 2);
}
.custom-event-top
    .elementor-element.elementor-element-4b998b5
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item {
    margin-right: calc(10px / 2);
    margin-left: calc(10px / 2);
}
.custom-event-top .elementor-element.elementor-element-4b998b5 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-10px / 2);
    margin-left: calc(-10px / 2);
}
body.rtl
    .custom-event-top
    .elementor-element.elementor-element-4b998b5
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    left: calc(-10px / 2);
}
body:not(.rtl)
    .custom-event-top
    .elementor-element.elementor-element-4b998b5
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    right: calc(-10px / 2);
}
.custom-event-top .elementor-element.elementor-element-4b998b5 {
    --e-icon-list-icon-size: 18px;
}
.custom-event-top .elementor-element.elementor-element-4b998b5 .elementor-icon-list-text {
    color: var(--e-global-color-text);
    padding-left: 12px;
}
.custom-event-top .elementor-element.elementor-element-4b998b5 .elementor-icon-list-item > .elementor-icon-list-text,
.custom-event-top .elementor-element.elementor-element-4b998b5 .elementor-icon-list-item > a {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.1em;
    letter-spacing: 2px;
}
.custom-event-top
    .elementor-element.elementor-element-3229c56
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(10px / 2);
}
.custom-event-top
    .elementor-element.elementor-element-3229c56
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(10px / 2);
}
.custom-event-top
    .elementor-element.elementor-element-3229c56
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item {
    margin-right: calc(10px / 2);
    margin-left: calc(10px / 2);
}
.custom-event-top .elementor-element.elementor-element-3229c56 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-10px / 2);
    margin-left: calc(-10px / 2);
}
body.rtl
    .custom-event-top
    .elementor-element.elementor-element-3229c56
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    left: calc(-10px / 2);
}
body:not(.rtl)
    .custom-event-top
    .elementor-element.elementor-element-3229c56
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    right: calc(-10px / 2);
}
.custom-event-top .elementor-element.elementor-element-3229c56 {
    --e-icon-list-icon-size: 18px;
}
.custom-event-top .elementor-element.elementor-element-3229c56 .elementor-icon-list-text {
    color: var(--e-global-color-text);
    padding-left: 12px;
}
.custom-event-top .elementor-element.elementor-element-3229c56 .elementor-icon-list-item > .elementor-icon-list-text,
.custom-event-top .elementor-element.elementor-element-3229c56 .elementor-icon-list-item > a {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.1em;
    letter-spacing: 2px;
}
.custom-event-top
    .elementor-element.elementor-element-94ce9e3
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(10px / 2);
}
.custom-event-top
    .elementor-element.elementor-element-94ce9e3
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(10px / 2);
}
.custom-event-top
    .elementor-element.elementor-element-94ce9e3
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item {
    margin-right: calc(10px / 2);
    margin-left: calc(10px / 2);
}
.custom-event-top .elementor-element.elementor-element-94ce9e3 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-10px / 2);
    margin-left: calc(-10px / 2);
}
body.rtl
    .custom-event-top
    .elementor-element.elementor-element-94ce9e3
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    left: calc(-10px / 2);
}
body:not(.rtl)
    .custom-event-top
    .elementor-element.elementor-element-94ce9e3
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    right: calc(-10px / 2);
}
.custom-event-top .elementor-element.elementor-element-94ce9e3 {
    --e-icon-list-icon-size: 18px;
}
.custom-event-top .elementor-element.elementor-element-94ce9e3 .elementor-icon-list-text {
    color: var(--e-global-color-text);
    padding-left: 12px;
}
.custom-event-top .elementor-element.elementor-element-94ce9e3 .elementor-icon-list-item > .elementor-icon-list-text,
.custom-event-top .elementor-element.elementor-element-94ce9e3 .elementor-icon-list-item > a {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.1em;
    letter-spacing: 2px;
}
.custom-event-top
    .elementor-element.elementor-element-a46f302
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(10px / 2);
}
.custom-event-top
    .elementor-element.elementor-element-a46f302
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(10px / 2);
}
.custom-event-top
    .elementor-element.elementor-element-a46f302
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item {
    margin-right: calc(10px / 2);
    margin-left: calc(10px / 2);
}
.custom-event-top .elementor-element.elementor-element-a46f302 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-10px / 2);
    margin-left: calc(-10px / 2);
}
body.rtl
    .custom-event-top
    .elementor-element.elementor-element-a46f302
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    left: calc(-10px / 2);
}
body:not(.rtl)
    .custom-event-top
    .elementor-element.elementor-element-a46f302
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    right: calc(-10px / 2);
}
.custom-event-top .elementor-element.elementor-element-a46f302 {
    --e-icon-list-icon-size: 18px;
}
.custom-event-top .elementor-element.elementor-element-a46f302 .elementor-icon-list-text {
    color: var(--e-global-color-text);
    padding-left: 12px;
}
.custom-event-top .elementor-element.elementor-element-a46f302 .elementor-icon-list-item > .elementor-icon-list-text,
.custom-event-top .elementor-element.elementor-element-a46f302 .elementor-icon-list-item > a {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.1em;
    letter-spacing: 2px;
}
.custom-event-top .elementor-element.elementor-element-65b8fca .elementor-button .elementor-align-icon-right {
    margin-left: 16px;
}
.custom-event-top .elementor-element.elementor-element-65b8fca .elementor-button .elementor-align-icon-left {
    margin-right: 16px;
}
.custom-event-top .elementor-element.elementor-element-65b8fca .elementor-button {
    line-height: 18px;
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
}
.custom-event-top .elementor-element.elementor-element-65b8fca > .elementor-widget-container {
    margin: 5px 0px 0px 0px;
}
@media (max-width: 1440px) {
    .custom-event-top .elementor-element.elementor-element-3190b5f .elementor-heading-title {
        font-size: var(--e-global-typography-3366784-font-size);
        line-height: var(--e-global-typography-3366784-line-height);
        letter-spacing: var(--e-global-typography-3366784-letter-spacing);
        word-spacing: var(--e-global-typography-3366784-word-spacing);
    }
}
@media (max-width: 1024px) {
    .custom-event-top .elementor-element.elementor-element-293a6c5 .elementor-heading-title {
        font-size: 38px;
        line-height: 1em;
    }
    .custom-event-top .elementor-element.elementor-element-3190b5f .elementor-heading-title {
        font-size: var(--e-global-typography-3366784-font-size);
        line-height: var(--e-global-typography-3366784-line-height);
        letter-spacing: var(--e-global-typography-3366784-letter-spacing);
        word-spacing: var(--e-global-typography-3366784-word-spacing);
    }
    .custom-event-top .elementor-element.elementor-element-d1f4d42 .elementor-icon-list-item > .elementor-icon-list-text,
    .custom-event-top .elementor-element.elementor-element-d1f4d42 .elementor-icon-list-item > a {
        letter-spacing: 2px;
    }
    .custom-event-top .elementor-element.elementor-element-363d425 .elementor-icon-list-item > .elementor-icon-list-text,
    .custom-event-top .elementor-element.elementor-element-363d425 .elementor-icon-list-item > a {
        letter-spacing: 2px;
    }
    .custom-event-top .elementor-element.elementor-element-bf02689 .elementor-icon-list-item > .elementor-icon-list-text,
    .custom-event-top .elementor-element.elementor-element-bf02689 .elementor-icon-list-item > a {
        letter-spacing: 2px;
    }
    .custom-event-top .elementor-element.elementor-element-4b998b5 .elementor-icon-list-item > .elementor-icon-list-text,
    .custom-event-top .elementor-element.elementor-element-4b998b5 .elementor-icon-list-item > a {
        letter-spacing: 2px;
    }
    .custom-event-top .elementor-element.elementor-element-3229c56 .elementor-icon-list-item > .elementor-icon-list-text,
    .custom-event-top .elementor-element.elementor-element-3229c56 .elementor-icon-list-item > a {
        letter-spacing: 2px;
    }
    .custom-event-top .elementor-element.elementor-element-94ce9e3 .elementor-icon-list-item > .elementor-icon-list-text,
    .custom-event-top .elementor-element.elementor-element-94ce9e3 .elementor-icon-list-item > a {
        letter-spacing: 2px;
    }
    .custom-event-top .elementor-element.elementor-element-a46f302 .elementor-icon-list-item > .elementor-icon-list-text,
    .custom-event-top .elementor-element.elementor-element-a46f302 .elementor-icon-list-item > a {
        letter-spacing: 2px;
    }
}
@media (max-width: 767px) {
    .custom-event-top .elementor-element.elementor-element-7eb72db > .elementor-element-populated {
        padding: 10px 10px 10px 10px;
    }
    .custom-event-top .elementor-element.elementor-element-293a6c5 .elementor-heading-title {
        font-size: 24px;
        line-height: 26.4px;
    }
    .custom-event-top .elementor-element.elementor-element-3190b5f .elementor-heading-title {
        font-size: var(--e-global-typography-3366784-font-size);
        line-height: var(--e-global-typography-3366784-line-height);
        letter-spacing: var(--e-global-typography-3366784-letter-spacing);
        word-spacing: var(--e-global-typography-3366784-word-spacing);
    }
    .custom-event-top .elementor-element.elementor-element-3190b5f > .elementor-widget-container {
        margin: 0px 0px 20px 0px;
    }
    .custom-event-top .elementor-element.elementor-element-d1f4d42 .elementor-icon-list-item > .elementor-icon-list-text,
    .custom-event-top .elementor-element.elementor-element-d1f4d42 .elementor-icon-list-item > a {
        font-size: 14px;
        line-height: 1.3em;
        letter-spacing: 2px;
    }
    .custom-event-top .elementor-element.elementor-element-363d425 .elementor-icon-list-item > .elementor-icon-list-text,
    .custom-event-top .elementor-element.elementor-element-363d425 .elementor-icon-list-item > a {
        font-size: 14px;
        line-height: 1.3em;
        letter-spacing: 2px;
    }
    .custom-event-top .elementor-element.elementor-element-bf02689 .elementor-icon-list-item > .elementor-icon-list-text,
    .custom-event-top .elementor-element.elementor-element-bf02689 .elementor-icon-list-item > a {
        font-size: 14px;
        line-height: 1.3em;
        letter-spacing: 2px;
    }
    .custom-event-top .elementor-element.elementor-element-4b998b5 .elementor-icon-list-item > .elementor-icon-list-text,
    .custom-event-top .elementor-element.elementor-element-4b998b5 .elementor-icon-list-item > a {
        font-size: 14px;
        line-height: 1.3em;
        letter-spacing: 2px;
    }
    .custom-event-top .elementor-element.elementor-element-3229c56 .elementor-icon-list-item > .elementor-icon-list-text,
    .custom-event-top .elementor-element.elementor-element-3229c56 .elementor-icon-list-item > a {
        font-size: 14px;
        line-height: 1.3em;
        letter-spacing: 2px;
    }
    .custom-event-top .elementor-element.elementor-element-94ce9e3 .elementor-icon-list-item > .elementor-icon-list-text,
    .custom-event-top .elementor-element.elementor-element-94ce9e3 .elementor-icon-list-item > a {
        font-size: 14px;
        line-height: 1.3em;
        letter-spacing: 2px;
    }
    .custom-event-top .elementor-element.elementor-element-a46f302 .elementor-icon-list-item > .elementor-icon-list-text,
    .custom-event-top .elementor-element.elementor-element-a46f302 .elementor-icon-list-item > a {
        font-size: 14px;
        line-height: 1.3em;
        letter-spacing: 2px;
    }
    .custom-event-top .elementor-element.elementor-element-65b8fca > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
} /* Start custom CSS for button, class: .elementor-element-65b8fca */
.custom-event-top .elementor-element.elementor-element-65b8fca svg {
    height: 16px;
} /* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-65b8fca */
.custom-event-top .elementor-element.elementor-element-65b8fca svg {
    height: 16px;
} /* End custom CSS */
