.custom-event-box
	.elementor-element.elementor-element-65904c6
	.elementor-repeater-item-a1ee36a.jet-parallax-section__layout
	.jet-parallax-section__image {
	background-size: auto;
}
.custom-event-box
	.elementor-element.elementor-element-efbc985
	> .elementor-widget-wrap
	> .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 10px;
}
.custom-event-box .elementor-element.elementor-element-efbc985 > .elementor-element-populated {
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	border-color: #989eaab3;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 30px 10px 10px 10px;
}
.custom-event-box
	.elementor-element.elementor-element-efbc985
	> .elementor-element-populated
	> .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.custom-event-box .elementor-element.elementor-element-a67c280 > .elementor-container {
	min-height: none;
}
.custom-event-box .elementor-element.elementor-element-df44089 .elementor-heading-title {
	color: var(--e-global-color-primary);
	font-family: "Proxima Nova", Sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 22px;
}
.custom-event-box .elementor-element.elementor-element-df44089 > .elementor-widget-container {
	padding: 0px 0px 0px 0px;
}
.custom-event-box .elementor-element.elementor-element-eedd5f9 .elementor-heading-title {
	color: var(--e-global-color-a382ddf);
	font-style: italic;
}
.custom-event-box .elementor-element.elementor-element-eedd5f9 > .elementor-widget-container {
	margin: -25px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.custom-event-box .elementor-element.elementor-element-331c3a9 > .elementor-container {
	min-height: 130px;
}
.custom-event-box .elementor-element.elementor-element-331c3a9 {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 0px 0px;
}
.custom-event-box
	.elementor-element.elementor-element-c68bd72
	.elementor-icon-list-items:not(.elementor-inline-items)
	.elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(10px / 2);
}
.custom-event-box
	.elementor-element.elementor-element-c68bd72
	.elementor-icon-list-items:not(.elementor-inline-items)
	.elementor-icon-list-item:not(:first-child) {
	margin-top: calc(10px / 2);
}
.custom-event-box
	.elementor-element.elementor-element-c68bd72
	.elementor-icon-list-items.elementor-inline-items
	.elementor-icon-list-item {
	margin-right: calc(10px / 2);
	margin-left: calc(10px / 2);
}
.custom-event-box .elementor-element.elementor-element-c68bd72 .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-10px / 2);
	margin-left: calc(-10px / 2);
}
body.rtl
	.custom-event-box
	.elementor-element.elementor-element-c68bd72
	.elementor-icon-list-items.elementor-inline-items
	.elementor-icon-list-item:after {
	left: calc(-10px / 2);
}
body:not(.rtl)
	.custom-event-box
	.elementor-element.elementor-element-c68bd72
	.elementor-icon-list-items.elementor-inline-items
	.elementor-icon-list-item:after {
	right: calc(-10px / 2);
}
.custom-event-box .elementor-element.elementor-element-c68bd72 {
	--e-icon-list-icon-size: 18px;
}
.custom-event-box .elementor-element.elementor-element-c68bd72 .elementor-icon-list-text {
	color: var(--e-global-color-text);
	padding-left: 12px;
}
.custom-event-box .elementor-element.elementor-element-c68bd72 .elementor-icon-list-item > .elementor-icon-list-text,
.custom-event-box .elementor-element.elementor-element-c68bd72 .elementor-icon-list-item > a {
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 1.1em;
	letter-spacing: 2px;
}
.custom-event-box .elementor-element.elementor-element-c68bd72 > .elementor-widget-container {
	padding: 0px 0px 0px 0px;
}
.custom-event-box
	.elementor-element.elementor-element-eebdf9b
	.elementor-icon-list-items:not(.elementor-inline-items)
	.elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(10px / 2);
}
.custom-event-box
	.elementor-element.elementor-element-eebdf9b
	.elementor-icon-list-items:not(.elementor-inline-items)
	.elementor-icon-list-item:not(:first-child) {
	margin-top: calc(10px / 2);
}
.custom-event-box
	.elementor-element.elementor-element-eebdf9b
	.elementor-icon-list-items.elementor-inline-items
	.elementor-icon-list-item {
	margin-right: calc(10px / 2);
	margin-left: calc(10px / 2);
}
.custom-event-box .elementor-element.elementor-element-eebdf9b .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-10px / 2);
	margin-left: calc(-10px / 2);
}
body.rtl
	.custom-event-box
	.elementor-element.elementor-element-eebdf9b
	.elementor-icon-list-items.elementor-inline-items
	.elementor-icon-list-item:after {
	left: calc(-10px / 2);
}
body:not(.rtl)
	.custom-event-box
	.elementor-element.elementor-element-eebdf9b
	.elementor-icon-list-items.elementor-inline-items
	.elementor-icon-list-item:after {
	right: calc(-10px / 2);
}
.custom-event-box .elementor-element.elementor-element-eebdf9b {
	--e-icon-list-icon-size: 18px;
}
.custom-event-box .elementor-element.elementor-element-eebdf9b .elementor-icon-list-text {
	color: var(--e-global-color-text);
	padding-left: 12px;
}
.custom-event-box .elementor-element.elementor-element-eebdf9b .elementor-icon-list-item > .elementor-icon-list-text,
.custom-event-box .elementor-element.elementor-element-eebdf9b .elementor-icon-list-item > a {
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 1.1em;
	letter-spacing: 2px;
}
.custom-event-box .elementor-element.elementor-element-eebdf9b > .elementor-widget-container {
	padding: 0px 0px 0px 0px;
}
.custom-event-box
	.elementor-element.elementor-element-f884c28
	.elementor-icon-list-items:not(.elementor-inline-items)
	.elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(10px / 2);
}
.custom-event-box
	.elementor-element.elementor-element-f884c28
	.elementor-icon-list-items:not(.elementor-inline-items)
	.elementor-icon-list-item:not(:first-child) {
	margin-top: calc(10px / 2);
}
.custom-event-box
	.elementor-element.elementor-element-f884c28
	.elementor-icon-list-items.elementor-inline-items
	.elementor-icon-list-item {
	margin-right: calc(10px / 2);
	margin-left: calc(10px / 2);
}
.custom-event-box .elementor-element.elementor-element-f884c28 .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-10px / 2);
	margin-left: calc(-10px / 2);
}
body.rtl
	.custom-event-box
	.elementor-element.elementor-element-f884c28
	.elementor-icon-list-items.elementor-inline-items
	.elementor-icon-list-item:after {
	left: calc(-10px / 2);
}
body:not(.rtl)
	.custom-event-box
	.elementor-element.elementor-element-f884c28
	.elementor-icon-list-items.elementor-inline-items
	.elementor-icon-list-item:after {
	right: calc(-10px / 2);
}
.custom-event-box .elementor-element.elementor-element-f884c28 {
	--e-icon-list-icon-size: 18px;
}
.custom-event-box .elementor-element.elementor-element-f884c28 .elementor-icon-list-text {
	color: var(--e-global-color-text);
	padding-left: 12px;
}
.custom-event-box .elementor-element.elementor-element-f884c28 .elementor-icon-list-item > .elementor-icon-list-text,
.custom-event-box .elementor-element.elementor-element-f884c28 .elementor-icon-list-item > a {
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 1.1em;
	letter-spacing: 2px;
}
.custom-event-box
	.elementor-element.elementor-element-1d03271
	.elementor-icon-list-items:not(.elementor-inline-items)
	.elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(10px / 2);
}
.custom-event-box
	.elementor-element.elementor-element-1d03271
	.elementor-icon-list-items:not(.elementor-inline-items)
	.elementor-icon-list-item:not(:first-child) {
	margin-top: calc(10px / 2);
}
.custom-event-box
	.elementor-element.elementor-element-1d03271
	.elementor-icon-list-items.elementor-inline-items
	.elementor-icon-list-item {
	margin-right: calc(10px / 2);
	margin-left: calc(10px / 2);
}
.custom-event-box .elementor-element.elementor-element-1d03271 .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-10px / 2);
	margin-left: calc(-10px / 2);
}
body.rtl
	.custom-event-box
	.elementor-element.elementor-element-1d03271
	.elementor-icon-list-items.elementor-inline-items
	.elementor-icon-list-item:after {
	left: calc(-10px / 2);
}
body:not(.rtl)
	.custom-event-box
	.elementor-element.elementor-element-1d03271
	.elementor-icon-list-items.elementor-inline-items
	.elementor-icon-list-item:after {
	right: calc(-10px / 2);
}
.custom-event-box .elementor-element.elementor-element-1d03271 {
	--e-icon-list-icon-size: 18px;
}
.custom-event-box .elementor-element.elementor-element-1d03271 .elementor-icon-list-text {
	color: var(--e-global-color-text);
	padding-left: 12px;
}
.custom-event-box .elementor-element.elementor-element-1d03271 .elementor-icon-list-item > .elementor-icon-list-text,
.custom-event-box .elementor-element.elementor-element-1d03271 .elementor-icon-list-item > a {
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 1.1em;
	letter-spacing: 2px;
}
.custom-event-box
	.elementor-element.elementor-element-c3dc209
	.elementor-icon-list-items:not(.elementor-inline-items)
	.elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(10px / 2);
}
.custom-event-box
	.elementor-element.elementor-element-c3dc209
	.elementor-icon-list-items:not(.elementor-inline-items)
	.elementor-icon-list-item:not(:first-child) {
	margin-top: calc(10px / 2);
}
.custom-event-box
	.elementor-element.elementor-element-c3dc209
	.elementor-icon-list-items.elementor-inline-items
	.elementor-icon-list-item {
	margin-right: calc(10px / 2);
	margin-left: calc(10px / 2);
}
.custom-event-box .elementor-element.elementor-element-c3dc209 .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-10px / 2);
	margin-left: calc(-10px / 2);
}
body.rtl
	.custom-event-box
	.elementor-element.elementor-element-c3dc209
	.elementor-icon-list-items.elementor-inline-items
	.elementor-icon-list-item:after {
	left: calc(-10px / 2);
}
body:not(.rtl)
	.custom-event-box
	.elementor-element.elementor-element-c3dc209
	.elementor-icon-list-items.elementor-inline-items
	.elementor-icon-list-item:after {
	right: calc(-10px / 2);
}
.custom-event-box .elementor-element.elementor-element-c3dc209 {
	--e-icon-list-icon-size: 18px;
}
.custom-event-box .elementor-element.elementor-element-c3dc209 .elementor-icon-list-text {
	color: var(--e-global-color-text);
	padding-left: 12px;
}
.custom-event-box .elementor-element.elementor-element-c3dc209 .elementor-icon-list-item > .elementor-icon-list-text,
.custom-event-box .elementor-element.elementor-element-c3dc209 .elementor-icon-list-item > a {
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 1.1em;
	letter-spacing: 2px;
}
.custom-event-box
	.elementor-element.elementor-element-7b0c0cd
	.elementor-icon-list-items:not(.elementor-inline-items)
	.elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(10px / 2);
}
.custom-event-box
	.elementor-element.elementor-element-7b0c0cd
	.elementor-icon-list-items:not(.elementor-inline-items)
	.elementor-icon-list-item:not(:first-child) {
	margin-top: calc(10px / 2);
}
.custom-event-box
	.elementor-element.elementor-element-7b0c0cd
	.elementor-icon-list-items.elementor-inline-items
	.elementor-icon-list-item {
	margin-right: calc(10px / 2);
	margin-left: calc(10px / 2);
}
.custom-event-box .elementor-element.elementor-element-7b0c0cd .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-10px / 2);
	margin-left: calc(-10px / 2);
}
body.rtl
	.custom-event-box
	.elementor-element.elementor-element-7b0c0cd
	.elementor-icon-list-items.elementor-inline-items
	.elementor-icon-list-item:after {
	left: calc(-10px / 2);
}
body:not(.rtl)
	.custom-event-box
	.elementor-element.elementor-element-7b0c0cd
	.elementor-icon-list-items.elementor-inline-items
	.elementor-icon-list-item:after {
	right: calc(-10px / 2);
}
.custom-event-box .elementor-element.elementor-element-7b0c0cd {
	--e-icon-list-icon-size: 18px;
}
.custom-event-box .elementor-element.elementor-element-7b0c0cd .elementor-icon-list-text {
	color: var(--e-global-color-text);
	padding-left: 12px;
}
.custom-event-box .elementor-element.elementor-element-7b0c0cd .elementor-icon-list-item > .elementor-icon-list-text,
.custom-event-box .elementor-element.elementor-element-7b0c0cd .elementor-icon-list-item > a {
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 1.1em;
	letter-spacing: 2px;
}
.custom-event-box
	.elementor-element.elementor-element-528a444
	.elementor-icon-list-items:not(.elementor-inline-items)
	.elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(10px / 2);
}
.custom-event-box
	.elementor-element.elementor-element-528a444
	.elementor-icon-list-items:not(.elementor-inline-items)
	.elementor-icon-list-item:not(:first-child) {
	margin-top: calc(10px / 2);
}
.custom-event-box
	.elementor-element.elementor-element-528a444
	.elementor-icon-list-items.elementor-inline-items
	.elementor-icon-list-item {
	margin-right: calc(10px / 2);
	margin-left: calc(10px / 2);
}
.custom-event-box .elementor-element.elementor-element-528a444 .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-10px / 2);
	margin-left: calc(-10px / 2);
}
body.rtl
	.custom-event-box
	.elementor-element.elementor-element-528a444
	.elementor-icon-list-items.elementor-inline-items
	.elementor-icon-list-item:after {
	left: calc(-10px / 2);
}
body:not(.rtl)
	.custom-event-box
	.elementor-element.elementor-element-528a444
	.elementor-icon-list-items.elementor-inline-items
	.elementor-icon-list-item:after {
	right: calc(-10px / 2);
}
.custom-event-box .elementor-element.elementor-element-528a444 {
	--e-icon-list-icon-size: 18px;
}
.custom-event-box .elementor-element.elementor-element-528a444 .elementor-icon-list-text {
	color: var(--e-global-color-text);
	padding-left: 12px;
}
.custom-event-box .elementor-element.elementor-element-528a444 .elementor-icon-list-item > .elementor-icon-list-text,
.custom-event-box .elementor-element.elementor-element-528a444 .elementor-icon-list-item > a {
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 1.1em;
	letter-spacing: 2px;
}
.custom-event-box .elementor-element.elementor-element-bd02d5a .elementor-button .elementor-align-icon-right {
	margin-left: 16px;
}
.custom-event-box .elementor-element.elementor-element-bd02d5a .elementor-button .elementor-align-icon-left {
	margin-right: 16px;
}

.custom-event-box .elementor-element.elementor-element-bd02d5a .elementor-button:hover svg,
.custom-event-box .elementor-element.elementor-element-bd02d5a .elementor-button:focus svg {
	fill: var(--e-global-color-253070d);
}
.custom-event-box .elementor-element.elementor-element-bd02d5a > .elementor-widget-container {
	margin: 05px 0px 0px 0px;
}
.custom-event-box .elementor-element.elementor-element-bd02d5a {
	width: auto;
	max-width: auto;
	align-self: flex-end;
}
@media (max-width: 1024px) {
	.custom-event-box .elementor-element.elementor-element-c68bd72 .elementor-icon-list-item > .elementor-icon-list-text,
	.custom-event-box .elementor-element.elementor-element-c68bd72 .elementor-icon-list-item > a {
		letter-spacing: 2px;
	}
	.custom-event-box .elementor-element.elementor-element-eebdf9b .elementor-icon-list-item > .elementor-icon-list-text,
	.custom-event-box .elementor-element.elementor-element-eebdf9b .elementor-icon-list-item > a {
		letter-spacing: 2px;
	}
	.custom-event-box .elementor-element.elementor-element-f884c28 .elementor-icon-list-item > .elementor-icon-list-text,
	.custom-event-box .elementor-element.elementor-element-f884c28 .elementor-icon-list-item > a {
		letter-spacing: 2px;
	}
	.custom-event-box .elementor-element.elementor-element-1d03271 .elementor-icon-list-item > .elementor-icon-list-text,
	.custom-event-box .elementor-element.elementor-element-1d03271 .elementor-icon-list-item > a {
		letter-spacing: 2px;
	}
	.custom-event-box .elementor-element.elementor-element-c3dc209 .elementor-icon-list-item > .elementor-icon-list-text,
	.custom-event-box .elementor-element.elementor-element-c3dc209 .elementor-icon-list-item > a {
		letter-spacing: 2px;
	}
	.custom-event-box .elementor-element.elementor-element-7b0c0cd .elementor-icon-list-item > .elementor-icon-list-text,
	.custom-event-box .elementor-element.elementor-element-7b0c0cd .elementor-icon-list-item > a {
		letter-spacing: 2px;
	}
	.custom-event-box .elementor-element.elementor-element-528a444 .elementor-icon-list-item > .elementor-icon-list-text,
	.custom-event-box .elementor-element.elementor-element-528a444 .elementor-icon-list-item > a {
		letter-spacing: 2px;
	}
}
@media (max-width: 767px) {
	.custom-event-box
		.elementor-element.elementor-element-efbc985
		> .elementor-widget-wrap
		> .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
		margin-bottom: 20px;
	}
	.custom-event-box .elementor-element.elementor-element-c68bd72 .elementor-icon-list-item > .elementor-icon-list-text,
	.custom-event-box .elementor-element.elementor-element-c68bd72 .elementor-icon-list-item > a {
		font-size: 14px;
		line-height: 1.3em;
		letter-spacing: 2px;
	}
	.custom-event-box .elementor-element.elementor-element-eebdf9b .elementor-icon-list-item > .elementor-icon-list-text,
	.custom-event-box .elementor-element.elementor-element-eebdf9b .elementor-icon-list-item > a {
		font-size: 14px;
		line-height: 1.3em;
		letter-spacing: 2px;
	}
	.custom-event-box .elementor-element.elementor-element-f884c28 .elementor-icon-list-item > .elementor-icon-list-text,
	.custom-event-box .elementor-element.elementor-element-f884c28 .elementor-icon-list-item > a {
		font-size: 14px;
		line-height: 1.3em;
		letter-spacing: 2px;
	}
	.custom-event-box .elementor-element.elementor-element-1d03271 .elementor-icon-list-item > .elementor-icon-list-text,
	.custom-event-box .elementor-element.elementor-element-1d03271 .elementor-icon-list-item > a {
		font-size: 14px;
		line-height: 1.3em;
		letter-spacing: 2px;
	}
	.custom-event-box .elementor-element.elementor-element-c3dc209 .elementor-icon-list-item > .elementor-icon-list-text,
	.custom-event-box .elementor-element.elementor-element-c3dc209 .elementor-icon-list-item > a {
		font-size: 14px;
		line-height: 1.3em;
		letter-spacing: 2px;
	}
	.custom-event-box .elementor-element.elementor-element-7b0c0cd .elementor-icon-list-item > .elementor-icon-list-text,
	.custom-event-box .elementor-element.elementor-element-7b0c0cd .elementor-icon-list-item > a {
		font-size: 14px;
		line-height: 1.3em;
		letter-spacing: 2px;
	}
	.custom-event-box .elementor-element.elementor-element-528a444 .elementor-icon-list-item > .elementor-icon-list-text,
	.custom-event-box .elementor-element.elementor-element-528a444 .elementor-icon-list-item > a {
		font-size: 14px;
		line-height: 1.3em;
		letter-spacing: 2px;
	}
} /* Start custom CSS for button, class: .elementor-element-bd02d5a */
.custom-event-box .elementor-element.elementor-element-bd02d5a svg {
	height: 16px;
}

.custom-event-box .elementor-element.elementor-element-bd02d5a a:hover svg path {
	fill: transparent !important;
}

.custom-event-box .elementor-element.elementor-element-bd02d5a a:hover svg path {
	stroke: #fff !important;
} /* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-bd02d5a */
.custom-event-box .elementor-element.elementor-element-bd02d5a svg {
	height: 16px;
}

.custom-event-box .elementor-element.elementor-element-bd02d5a a:hover svg path {
	fill: transparent !important;
}

.custom-event-box .elementor-element.elementor-element-bd02d5a a:hover svg path {
	stroke: #fff !important;
} /* End custom CSS */
/* Start Custom Fonts CSS */
@font-face {
	font-family: "Proxima Nova";
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	// src: url('https://john-burns.local/wp-content/uploads/2022/01/ProximaNova-Regular.eot');
	// src: url('https://john-burns.local/wp-content/uploads/2022/01/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
	// 	url('https://john-burns.local/wp-content/uploads/2022/01/ProximaNova-Regular.woff2') format('woff2'),
	// 	url('https://john-burns.local/wp-content/uploads/2022/01/ProximaNova-Regular.woff') format('woff'),
	// 	url('https://john-burns.local/wp-content/uploads/2022/01/ProximaNova-Regular.ttf') format('truetype'),
	// 	url('https://john-burns.local/wp-content/uploads/2022/01/ProximaNova-Regular.svg#ProximaNova') format('svg');
}
@font-face {
	font-family: "Proxima Nova";
	font-style: normal;
	font-weight: bold;
	font-display: auto;
	// src: url("https://john-burns.local/wp-content/uploads/2022/01/ProximaNova-Bold.eot");
	// src: url("https://john-burns.local/wp-content/uploads/2022/01/ProximaNova-Bold.eot?#iefix")
	// 		format("embedded-opentype"),
	// 	url("https://john-burns.local/wp-content/uploads/2022/01/ProximaNova-Bold.woff2") format("woff2"),
	// 	url("https://john-burns.local/wp-content/uploads/2022/01/ProximaNova-Bold.woff") format("woff"),
	// 	url("https://john-burns.local/wp-content/uploads/2022/01/ProximaNova-Bold.ttf") format("truetype"),
	// 	url("https://john-burns.local/wp-content/uploads/2022/01/ProximaNova-Bold.svg#ProximaNova") format("svg");
}
@font-face {
	font-family: "Proxima Nova";
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	// src: url('https://john-burns.local/wp-content/uploads/2022/01/ProximaNova-Semibold.eot');
	// src: url('https://john-burns.local/wp-content/uploads/2022/01/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
	// 	url('https://john-burns.local/wp-content/uploads/2022/01/ProximaNova-Semibold.woff2') format('woff2'),
	// 	url('https://john-burns.local/wp-content/uploads/2022/01/ProximaNova-Semibold.woff') format('woff'),
	// 	url('https://john-burns.local/wp-content/uploads/2022/01/ProximaNova-Semibold.ttf') format('truetype'),
	// 	url('https://john-burns.local/wp-content/uploads/2022/01/ProximaNova-Semibold.svg#ProximaNova') format('svg');
}
/* End Custom Fonts CSS */
